.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
*.class
.classpath
**/gen/*
**/bin/*
.idea/*
**/.idea/*
build
**/build/*
**/out/*
**/gradle/*
*.swp
local.properties
**/local.properties
/.settings/*
/high-res-backup/
.gradle
**/.gradle/*
*.iml
